@font-face {
  font-family: 'Good Times';
  src: url('/fonts/good-times-rg.woff2') format('woff2'),
       url('/fonts/good-times-rg.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
