@font-face {
  font-family: 'Good Times';
  src: url('/fonts/good-times-rg.woff2') format('woff2'),
       url('/fonts/good-times-rg.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '911';
  src: url('/fonts/911v2.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kale';
  src: url('/fonts/kale.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

